<h1>
    <%= data.title %>
</h1>
<h3>
    <%= data.description %>
</h3>
<article class="article">
    <%= data.body %>
</article>


<article class="article">
    Read Count: <%= data.read_count %>
</article>
<article class="article">
    Reading Time: <%= data.reading_time %> minutes
</article>
<article class="article">
    <%= data.state %>
</article>
<article class="article">
   Author: <%= firstname %>
</article>
<article class="article">
<p class="tags tag">#<%= data.tags  %></p>
</article>
